<beans:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:beans="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true" use-expressions="false">
        <intercept-url pattern="/admin" access="ROLE_ADMIN"/>
        <intercept-url pattern="/user" access="ROLE_USER, ROLE_ADMIN"/>

        <form-login login-page="/login" default-target-url="/welcome"
                    username-parameter="phonenumber" password-parameter="password"/>

        <!--<logout logout-success-url="/login?logout"/>-->

        <remember-me />
        <csrf disabled="true"/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref = "userDetailsServiceImpl">
            <password-encoder ref = "encoder"></password-encoder>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id = "encoder"
            class = "org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></beans:bean>

    <beans:bean id = "userDetailsServiceImpl"
                class = "com.finance.service.UserDetailsServiceImpl"></beans:bean>

</beans:beans>
